@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap')

$nav-height: 3rem

$bg-yellow: #FFDB00    
$first-color: #FFDB00  
$first-color-alt: #048654
$main-black: #393939
$text-color: #FBFEFD
$body-color: #FBFEFD
$introbg-color: #FFFFFF
$iconbg-color: #CAD3DD


$main-font:  'Rubik', sans-serif
$font-medium: 500
$font-semi-bold: 600

